@page "/createrace"
@using SundayRaceDay.Models.ViewModels
@using SundayRaceDay.Services.Interfaces
@inject IRaceService _RaceService

<PageTitle>Race</PageTitle>

<h1>Race</h1>

<button class="btn btn-primary" @onclick="Create">Click me</button>


@if(race != null){
    <h3>Race #@race.RaceNumber Created</h3>
    <p>
        <ul>
            <li>Race Status: @race?.Status</li>
            <li>Race Track: @race?.Track.TrackType</li>
        </ul>
    </p>
}


@code {
    private Race race = null;
    private ElementReference racedetails;

    private async Task Create()
    {
        race = await _RaceService.Create();
    }
}
